.vregister-wrapper {

    margin: auto;
    margin-top: 200px;
    margin-left: 400px;
    justify-content: center;
    align-items: center;
}

.container {
    border: 2px solid #ccc;
    width: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px;
    padding-bottom: 10px;
    background-color: #d1e5f8;
}

.form-heading {
    font-size: 1.6rem;
    color: #333;
    align-items: center;
    font-weight: 550;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    background-color: #44cee3;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.form-title {
    display: flex;
    margin-top: -90px;
    justify-content: center;
    padding: 20px;

}

.fields {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

@media screen and (max-width: 768px) {

    .vregister-wrapper {
        margin: auto;
        width: 400px;
        height: 320px;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 400px;
        margin: auto;
        height: 280px;
        margin-left: -10px;
        margin-top: 40px;
    }


    .vregister-wrapper {
        width: 400px;
        margin: auto;
        padding: 10px;
    }

    .fields {
        width: 100%;
    }

    .form-title {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

}